$white: #ffffff;
$black: #000000;
$darkGray: #666666;
$lightCyan: #cad3d3;
$veryLightBlue: #f4f6f7;
$mediumBlue: #5f7280;
$blue: #2195f7;
$purple: #6c136f;
$green: #31ad1d;
$darkPink: #cc4392;
$lightBlue: #99a9b5;
$opacityColor: rgba(110, 110, 122, 0.7);
