@media screen and (max-width: 768px) {
  .main {
    overflow-y: scroll;
    height: auto;
  }
  .grid {
    grid-template-columns: unset;
    grid-template-rows: auto;
    row-gap: 80px;
    margin: 80px 0 40px 0;
    &__place-desc {
      font-size: 40px;
    }
    &__item-title {
      font-size: 20px;
    }
    &__item-note {
      font-size: 14px;
    }
  }
  .place-inf {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1410px) {
  .main {
    height: auto;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    margin: 10% 0;
  }
}
@media screen and (min-width: 1440px) and (min-height: 848px) {
  .main {
    height: 100vh;
  }
}
